<div class="about section" id="about">
    <div class="title"> About </div>
    <div class="title-underline"></div>
    <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front card__side--front-1">
                        <div class="card__cta">
                            <div class="card__title">Responsive UI</div>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__picture card__picture--1">
                        </div>
                        <div class="card-title__back card-title__back--1">Resoponsive UI</div>
                        <div class="card__details">
                            <ul>
                                <li>Flexbox</li>
                                <li>SCSS</li >
                                <li>Bootstrap3, 4</li>
                                <li>Javascript, Jquery</li>
                                <li>HTML 5</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front card__side--front-2">
                            <div class="card__cta">
                                <div class="card__title">Trending UX</div>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-2">
                            <div class="card__picture card__picture--2">
                            </div>
                            <div class="card-title__back card-title__back--2">Trending UX</div>
                            <div class="card__details">
                                <ul>
                                    <li>Angular6, 7</li>
                                    <li>React</li >
                                    <li>Animations</li>
                                    <li>Telerik, Kendo</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            <div class="col-1-of-3">
                    <div class="card">
                        <div class="card__side card__side--front card__side--front-3">
                            <div class="card__cta">
                                <div class="card__title">BackEnd</div>
                            </div>
                        </div>
                        <div class="card__side card__side--back card__side--back-3">
                            <div class="card__picture card__picture--3">
                            </div>
                            <div class="card-title__back card-title__back--3">BackEnd</div>
                            <div class="card__details">
                                <ul>
                                    <li>Java, SpringBoot</li>
                                    <li>C#, ASP.NET, MVC, core</li>
                                    <li>PHP, Phalcon</li>
                                    <li>SQL</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
</div>
