<a class="goBack" routerLinkActive="" routerLink="" style="position: absolute; z-index:30;">arrow</a>
<div class="slides">
  <app-work-card class="work-card gatorade" [workName]="'gatorade'"></app-work-card> 
  <app-work-card class="work-card refreshingly" [workName]="'refreshingly'"></app-work-card> 
  <app-work-card class="work-card budweiser" [workName]="'budweiser'"></app-work-card> 
  <app-work-card class="work-card circlek" [workName]="'circlek'"></app-work-card> 
  <app-work-card class="work-card odacc" [workName]="'odacc'"></app-work-card> 
  <app-work-card class="work-card deskyar" [workName]="'deskyar'"></app-work-card> 
</div>
