.list {
    .k-widget.k-listview {
        border: none;
    }

    &-header {
        padding-bottom: 5px;
        border-bottom: 2px solid $color-2;
        font-weight: 600;
    }

    &-body {
        padding: 10px 5px;
        width: auto;

        &:nth-child(even) {
            background-color: $color-grey3;
        }
    }

    &-element {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
}
